*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anone{
    text-decoration: none;
}

.buttonblu{
    background-color: blue;
    color: white;
    padding: 5px 5px;
}

h1{
    font-size: 90px;
    padding-bottom: 30px;
}
/* header */

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.headcontl{
    /* height: 40px;
    width: 50px;
    background-color: black; */
    display: flex;
    align-items: center;
}

.headcontr{
    /* height: 40px;
    width: 50px;
    background-color: red; */
    display: flex;
    align-items: center;
}

.inlineli li{
    display: inline-block;
    margin-left: 20px;
}

.lihead{
    color: black;
}


/* jumbo */

.jumbo{
    /* height: 500px; */
    background-color: rgb(132, 184, 202);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.jcontainer{
    width: 80%;
    /* height: 300px; */
    /* background-color: brown; */
    padding: 50px 50px;
}

.jrcon{
    width: 70%;
}

.jrcon img{
    max-width: 100%;
}

.jlcon{
    display: flex;
}

.jlcontainer{
    width: 30%;
}

.jpos{
    margin-bottom: 20px;
    margin-top: 20px;
}

.jlcontainer p{
    font-size: 20px;
}

.fa-arrow-down{
    color: black;
    margin-top: 30px;
    font-size: 40px;
}

/* main */

main{
    display: flex;
    justify-content: center;
}

.mcontainer{
    /* height: 500px; */
    width: 70%;
    /* background-color: blueviolet; */
}
.h2siza{
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.inlin2{
    padding-bottom: 30px;
}

.linkmain{
    padding-top: 20px;
    padding-bottom: 80px;
}

.contcol{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.col{
    width: 30%;
    border: 1px solid gray;
}

.col2{
    padding: 15px 15px;
}

.col2 h3{
    padding-bottom: 10px;
}

.col2 p{
    padding-bottom: 10px;
}

.h4main{
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 5px 0;
}

#spanm{
    display: inline-block;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.spancon{
    padding-top: 20px;
    padding-bottom: 10px;
}

.linemc li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-check{
    color: aqua;
}

.con2{
    display: flex;
    align-items: center;
}

.con2img img{
    max-width: 100%;
}

.con2img{
    width: 70%;
    padding: 10px 10px;
}

.con2info{
    width: 30%;
    padding-top: 30px;
    padding-left: 20px;
}

.con2info p{
    padding-top: 10px;
    padding-bottom: 20px;
}

.cont3con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gray{
    color: gray;
    border: 2px solid gray;
    padding: 5px 5px;
}

.par {
    width: 30%;
    padding: 10px 0px;
}

.contimg img{
    max-width: 100%;
}

#lasth3{
    padding-top: 80px;
    width: 65%;
}

/* footer */

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fcontainer{
    width: 80%;
}

.white{
    color: white;
}

.ftit{
    font-size: 25px;
}

.flist
{
    display: flex;
    justify-content: space-between;
    
}

.flist li{
    margin-bottom: 20px;
}

.lastf{
    padding-top: 50px;
}

.ful{
    padding-bottom: 50px;
    border-bottom: 2px solid white;
}

